*~
.*
*.o
*.lo
*.la
*.a
*.so
*.log
GPATH
GRTAGS
GSYMS
GTAGS
ID
install/

# configuration files
!.gitignore
!.emacs-ede.el

# files for build system
Makefile
autom4te.cache/
config.status
/config.h
stamp-h1
libtool
